<div {% block attr %}{{ stimulus_controller('whatwedo/core-bundle/modal') }}{% endblock %} id="{% block modal_id %}defaultModal{% endblock %}" aria-hidden="true" class="hidden bg-black bg-opacity-50 overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
    {% block modal_outer %}
    <div class="relative px-4 w-full max-w-2xl h-full md:h-auto mx-auto">
        <!-- Modal content -->
        {% block modal_content %}
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            {% block modal_header %}
            <div class="flex justify-between items-start p-5 rounded-t border-b">
                <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl">
                    {% block header_title %}Terms of Service{% endblock %}
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="{{ block('modal_id') }}">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            {% endblock %}
            <!-- Modal body -->
            {% block modal_body %}
            <div class="p-6 space-y-6">
                {% block modal_body_content %}
                <p class="text-base leading-relaxed text-gray-500">
                    With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                </p>
                {% endblock %}
            </div>
            {% endblock %}
            <!-- Modal footer -->
            {% block modal_footer %}
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200">
                <button data-modal-toggle="{{ block('modal_id') }}" type="button" class="whatwedo-crud-button--action-neutral">{% block footer_accept %}I accept{% endblock %}</button>
                <button data-modal-toggle="{{ block('modal_id') }}" type="button" class="whatwedo-crud-button--action-warning">{% block footer_decline %}Decline{% endblock %}</button>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>

{% macro toogle_modal(id = 'defaultModal', text = 'Toggle modal') %}
    <button class="whatwedo-crud-button--action-neutral" type="button" data-modal-toggle="{{ id }}">
        {{ text }}
    </button>
{% endmacro %}
