{% block action %}
    {# @var action \whatwedo\CrudBundle\Action\Action #}
    {# @var link string #}
    {% set attr = {
        href: path(action.route, action.routeParameters),
        class: 'whatwedo-crud-button--action',
        role: 'menuitem',
        tabindex: '-1',
    }|merge(action.option('attr')|default([])) %}
    {% if action.hasConfirmation() %}
        <div
            {{ stimulus_controller('whatwedo/core-bundle/dropdown') }}
            class="whatwedo-core-action__confirmation relative flex"
        >
            <button
                {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                {{ stimulus_action('whatwedo/core-bundle/dropdown', 'toggle') | stimulus_action('whatwedo/core-bundle/dropdown', 'close', 'keydown.esc') }}
            >
                {% if action.option('icon') %}
                    {{ bootstrap_icon(action.option('icon'), {
                        class: 'inline mr-2 h-4 w-4'
                    }) }}
                {% endif %}
                <span class="2xl:block">{{ action.option('label')|trans }}</span>
            </button>

            <div
                {{ stimulus_target('whatwedo/core-bundle/dropdown', 'menu') }}
                class="z-50 hidden transition duration-300 transform origin-top-right absolute right-0 -bottom-3 transform translate-y-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
                tabindex="-1"
            >
                <form
                    class="flex items-center justify-between px-4 py-3"
                    method="get"
                    action="{{ path(action.route, action.routeParameters) }}"
                >
                    <p class="whatwedo-utility-bold whitespace-nowrap mr-4">
                        {{ action.confirmation('label') | trans }}
                    </p>

                    <div class="flex space-x-2">
                        <button class="whatwedo-crud-button--action-danger">
                            {{ action.confirmation('yes') | trans }}
                        </button>
                        <button
                            {{ stimulus_action('whatwedo/core-bundle/dropdown', 'close') }}
                            class="whatwedo-crud-button--action-no-bg"
                            type="button"
                        >
                            {{ action.confirmation('no') | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <a {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
            {% if action.option('icon') %}
                {{ bootstrap_icon(action.option('icon'), {
                    class: 'inline mr-2 h-4 w-4'
                }) }}
            {% endif %}
            <span class="2xl:block">{{ action.option('label')|trans }}</span>
        </a>
    {% endif %}
{% endblock %}

{% block post_action %}
    {# @var action \whatwedo\CrudBundle\Action\Action #}
    {# @var link string #}
    {% set attr = {
        class: 'whatwedo-crud-button--action-delete',
        role: 'menuitem',
        tabindex: '-1',
        type: 'submit',
    }|merge(action.option('attr')|default([])) %}
    {% if action.hasConfirmation() %}
        <div
            {{ stimulus_controller('whatwedo/core-bundle/dropdown') }}
            class="whatwedo-core-action__confirmation whatwedo-core-action__confirmation--post relative flex"
        >
            <button
                {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                {{ stimulus_action('whatwedo/core-bundle/dropdown', 'toggle') | stimulus_action('whatwedo/core-bundle/dropdown', 'close', 'keydown.esc') }}
            >
                {% if action.option('icon') %}
                    {{ bootstrap_icon(action.option('icon'), {
                        class: 'inline mr-2 h-4 w-4'
                    }) }}
                {% endif %}
                <span class="2xl:block">{{ action.option('label')|trans }}</span>
            </button>

            <div
                {{ stimulus_target('whatwedo/core-bundle/dropdown', 'menu') }}
                class="z-50 hidden transition duration-300 transform origin-top-right absolute right-0 -bottom-3 transform translate-y-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
                tabindex="-1"
            >
                <form
                    class="flex items-center justify-between px-4 py-3"
                    method="post"
                    action="{{ path(action.route, action.routeParameters) }}"
                >
                    <p class="whatwedo-utility-bold whitespace-nowrap mr-4">
                        {{ action.confirmation('label') | trans }}
                    </p>

                    <div class="flex space-x-2">
                        <button class="whatwedo-crud-button--action-danger">
                            {{ action.confirmation('yes') | trans }}
                        </button>
                        <button
                            {{ stimulus_action('whatwedo/core-bundle/dropdown', 'close') }}
                            class="whatwedo-crud-button--action-no-bg"
                            type="button"
                        >
                            {{ action.confirmation('no') | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="relative flex">
            <form
                class="flex items-center justify-between px-4 py-3"
                method="post"
                action="{{ path(action.route, action.routeParameters) }}"
            >
                <button type="submit"
                    {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                >
                    {% if action.option('icon') %}
                        {{ bootstrap_icon(action.option('icon'), {
                            class: 'inline mr-2 h-4 w-4'
                        }) }}
                    {% endif %}
                    <span class="2xl:block">{{ action.option('label')|trans }}</span>
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block modal_action %}
    {# @var action \whatwedo\CrudBundle\Action\Action #}
    <span {{ stimulus_controller('whatwedo/core-bundle/modal-form', { formUrl: path(action.option('route'), action.option('route_parameters')) }) }}>
        <button
            type="button"
            class="whatwedo-crud-button--action group flex items-center px-4 py-2 ml-0"
            {{ stimulus_action('whatwedo/core-bundle/modal-form', 'openModal') }}
        >
            {% if action.option('icon') %}
                {{ bootstrap_icon(action.icon, { class: 'inline mr-3 h-5 w-5 text-neutral-400 group-hover:text-neutral-500' }) }}
            {% endif %}
            {{ action.option('label')|trans }}
        </button>

        <div
            {{ stimulus_target('whatwedo/core-bundle/modal-form', 'menu') }}
            class="hidden whatwedo-crud-modal whatwedo-utility-modal"
            data-transition-enter-from="opacity-0"
            data-transition-enter-to="opacity-100"
            data-transition-leave-from="opacity-100"
            data-transition-leave-to="opacity-0"
            role="dialog"
            aria-modal="true"
        >
            <div class="whatwedo-crud-modal__overlay whatwedo-utility-modal__overlay">
                <div
                    class="whatwedo-crud-modal__backdrop whatwedo-utility-modal__backdrop"
                    {{ stimulus_action('whatwedo/core-bundle/modal-form', 'close', 'click') | stimulus_action('whatwedo/core-bundle/modal-form', 'close', 'keydown.esc@window') }}
                ></div>

                {# This element is to trick the browser into centering the modal contents. #}
                <span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true">&#8203;</span>

                <div class="whatwedo-crud-modal__wrapper whatwedo-utility-modal__wrapper">
                    <div class="whatwedo-utility-modal__wrapper-inner">
                        <button
                            type="button"
                            class="whatwedo-crud-modal__close whatwedo-utility-modal__close"
                            {{ stimulus_action('whatwedo/core-bundle/modal-form', 'close') }}
                        >
                            <span class="sr-only">Close</span>
                            {{ bootstrap_icon('x', { class: 'inline w-8 h-8' }) }}
                        </button>
                    </div>
                    <div
                        class="whatwedo-crud-modal__body w-full"
                        {{ stimulus_target('whatwedo/core-bundle/modal-form', 'modalBody') }}
                    ></div>
                </div>
            </div>
        </div>
    </span>
{% endblock %}
